{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Olá, <strong>{{responsavel_nome}}</strong>,</p>

                        <p>
                        Recebemos sua solicitação no Cadastro Nacional de Pontos e Pontões de Cultura referente à organização <strong>{{agent_name}}</strong>, CNPJ <strong>{{agent_cnpj}}</strong>, de alteração do tipo de organização.
                        </p>

                        <p>
                        Sua solicitação passará pela análise da Comissão de Certificação e leva até <strong>3 meses</strong>. Por favor, aguarde. Você receberá um e-mail com o resultado quando a análise for finalizada.
                        </p>

                        <p>
                        Em caso de dúvidas, entre em contato com <a href="mailto:suporte.culturaviva@cultura.gov.br\">suporte.culturaviva@cultura.gov.br</a>.
                        </p>

                        <p>Até mais!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{{_footer}}}