
{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Olá, <strong>{{userName}}</strong></p>

                        <p>
                            Sua inscrição de número <strong>{{registrationNumber}}</strong> no
                            <strong>Cadastro Nacional de Pontos e Pontões de Cultura</strong>, da
                            organização {{organizationName}}{{organizationCNPJ ? ', ' + organizationCNPJ
                            : ''}}, como <strong>{{registrationType}}</strong>, foi
                            <strong>habilitada</strong>.
                        </p>

                        <p>
                            Para salvar e imprimir o certificado do seu Ponto ou Pontão de Cultura, <a
                                href="{{sealRelation}}">clique aqui</a>
                        </p>

                        <p>
                            Em caso de dúvidas, entre em contato com <a
                                href="mailto:suporte.culturaviva@cultura.gov.br">suporte.culturaviva@cultura.gov.br</a>.
                        </p>

                        <p>Até mais!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
{{{_footer}}}